<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="red@,magenta@,blue@,white@,white@" />
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %colorize(%-5level) %cyan([%thread]) %cyan([%-40.40logger{10}]) - %colorize(%msg%n)
            </pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>